<h2>All merchants</h2>

<p><a href="/merchants/new">Add New Merchant</a></p>

<ul>
  <% for merchant in @merchants %>
    <a href="/merchants/<%=merchant.id%>"><li class="obj-list"><%=merchant.name%></li></a>
  <%end%>
</ul>
