<h2>All merchants</h2>

<p><a href="/merchants/new">Add New Merchant</a></p>

  <% for merchant in @merchants %>
  <div class="acc-display">
    <a href="/merchants/<%=merchant.id%>">
      <div class="obj-list">
        <h3><%= merchant.name %> </h3>
      </div>
    </a>
    <div class="acc-action">
      <a href="/merchants/<%=merchant.id%>/edit">Edit Merchant</a>
      <br>
      <a href="/merchants/<%=merchant.id%>/delete">Delete Merchant</a>
    </div>
  </div>
  <% end %>
