<h1>All merchants</h1>

<p><a href="/merchants/new">Add New Merchant</a></p>

<ul>
  <% for merchant in @merchants %>
    <li><a href="/merchants/<%=merchant.id%>"><%=merchant.name%></a></li>
  <%end%>
</ul>
