<h2>All merchants</h2>

<p><a href="/merchants/new">Add New Merchant</a></p>

<ul>
  <% for merchant in @merchants %>
    <li class="obj-list"><a href="/merchants/<%=merchant.id%>"><%=merchant.name%></a></li>
  <%end%>
</ul>
