<h1>Please provide details for a new merchant</h1>

<form action="/merchants" method="post">
  <label for="merchant-name">Merchant Name:
    <input id="merchant-name" type="text" name="name" value="">
  </label>
  <input type="submit" value="Create new merchant">
</form>
