<h2>Merchant no. <%=@merchant.id%></h2>
<div>
  <h3><%=@merchant.name%></h3>
  <a href="/merchants/<%=@merchant.id%>/edit">Edit Merchant</a>
  <form action="/merchants/<%=@merchant.id%>/delete" method="post">
    <input class="form-bttn-special" type="submit" value="Delete Merchant">
  </form>
</div>
