<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Spending Tracker</title>
    <!-- <link rel="stylesheet" type="text/css" href="/styles/default.css"> -->
    <link rel="stylesheet" type="text/css" href="/styles/tables.css">
    <link rel="stylesheet" type="text/css" href="/styles/layout.css">
    <link rel="stylesheet" type="text/css" href="/styles/master.css">
    <link rel="icon" href="/images/icon.png">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>The cross-universe spending tracker</h1>
      </header>
      <nav>
        <ul>
          <li><a href="/accounts">See your accounts</a></li>
          <li><a href="/merchants">See your merchants</a></li>
          <li><a href="/tags">See your tags</a></li>
        </ul>
      </nav>
      <main>
        <%= yield %>
      </main>
      <footer>
        <p>&copy Laura Nagy</p>
      </footer>
    </div>
  </body>
</html>
