<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Spending Tracker</title>
    <link rel="stylesheet" type="text/css" href="/styles/default.css">
  </head>
  <body>
    <header>
      <!-- breadcrumbs -->
    </header>
    <nav>
      <a href="/accounts">See your accounts</a>
      <a href="/merchants">See your merchants</a>
      <a href="/tags">See your tags</a>
    </nav>
    <main>
      <%= yield %>
    </main>
    <footer>
      <!-- whatever -->
    </footer>
  </body>
</html>
