<h2>Please give the new details for this account!</h2>

<form action="/accounts/<%=@account.id%>" method="post">
  <label for="acc-currency">Account currency:</label>
    <input id="acc-currency" type="text" name="currency" value="<%=@account.currency%>"/>
  <label for="acc-budget">Please provide a budget:</label>
    <input id="acc-holder" type="number" name="budget" value="<%=@account.budget%>" step="0.01"/>

  <input type="submit" value="Update account">
</form>

<form method="post" action="/accounts/<%= @account.id %>/delete">
    <input type="submit" value="Delete Account"/>
</form>
