
  <h2>Your accounts</h2>
  <p><a href="/accounts/new">Add New Account</a></p>
  <% for account in @accounts %>
  <div class="acc-display">
    <a href="/accounts/<%=account.id%>/edit">
      <div class="obj-list">
        <h3><%= account.currency %> </h3>
      </div>
    </a>
    <div class="acc-trans">
      <a href="/accounts/<%=account.id%>">Transactions</a>
    </div>
  </div>
  <% end %>
