<ul>
  <% for account in @accounts %>
  <li> <%= account.currency %> </li>

    <a href="/accounts/<%=account.id%>">Show Details</a>
    <a href="/accounts/<%=account.id%>/edit">Edit Details</a>

    <form method="post" action="accounts/<%= account.id %>/delete">
        <input type="submit" value="Delete Account"/>
    </form>
  <% end %>
  <a href="/accounts/new">Add New Account</a>
  
</ul>
