<ul>
  <% for account in @accounts %>
  <li> <%= account.currency %> </li>
    <form action="accounts/<%=account.id%>" method="get">
        <input type="submit" value="Show Account">
    <form action="accounts/<%=account.id%>/edit" method="get">
        <input type="submit" value="Edit Account">
    </form>
    <form method="post" action="accounts/<%= account.id %>/delete">
        <input type="submit" value="Delete Account"/>
    </form>
  <% end %>
  <form action="/accounts/new" method="get">
    <input type="submit"value="Add New Account">
  </form>
</ul>
