<h1>Please give details for the new account!</h1>

<form action="/accounts" method="post">
  <label for="acc-currency">Account currency:</label>
    <input id="acc-currency" type="text" name="currency" value="Input currency here"/>
  <label for="acc-budget">Please provide a budget:</label>
    <input id="acc-holder" type="number" name="budget" value="0"/>

  <input type="submit" value="Create new account">
</form>
