<h2>Please give details for the new account!</h2>

<form class="to-style" action="/accounts" method="post">
  <label for="acc-currency">Account currency:</label>
    <input id="acc-currency" type="text" name="currency" placeholder="Input currency here"/>
    <br>
  <label for="acc-budget">Please provide a budget:</label>
    <input id="acc-holder" type="number" name="budget" value="0" step="0.01"/>
    <br>
  <label for="acc-limit">Please provide a spending limit:</label>
    <input id="acc-limit" type="number" name="spending_limit" value="0" step="0.01"/>
    <br>
  <input type="submit" value="Create new account">
</form>
