<h2>Please provide new details for this tag</h2>

<form class="to-style" action="/tags/<%=@tag.id%>" method="post">
  <label for="tag-name">Tag Name:
    <input id="tag-name" type="text" name="name" value="<%=@tag.name%>">
  </label>
  <br>
  <input type="submit" value="Edit tag">
</form>
<br>
<form action="/tags/<%= @tag.id %>/delete" method="post">
    <input type="submit" value="Delete Tag"/>
</form>
