<h2>Please provide new details for this tag</h2>

<form action="/tags/<%=@tag.id%>" method="post">
  <label for="tag-name">Tag Name:
    <input id="tag-name" type="text" name="name" value="<%=@tag.name%>">
  </label>
  <input type="submit" value="Edit tag">
</form>
