<h1>Please provide details for a new tag</h1>

<form action="/tags" method="post">
  <label for="tag-name">Tag Name:
    <input id="tag-name" type="text" name="name" value="">
  </label>
  <input type="submit" value="Create new tag">
</form>
