<h2>Please provide details for a new tag</h2>

<form class="to-style" action="/tags" method="post">
  <label for="tag-name">Tag Name:
    <input id="tag-name" type="text" name="name" placeholder="Input Tag Name">
  </label>
  <br>
  <input type="submit" value="Create new tag">
</form>
