<h2>Tag no. <%=@tag.id%></h2>
<div>
  <h3><%=@tag.name%></h3>
  <a href="/tags/<%=@tag.id%>/edit">Edit Tag</a>
  <form action="/tags/<%=@tag.id%>/delete" method="post">
    <input class="form-bttn-special" type="submit" value="Delete Tag">
  </form>
</div>
