<h1>Tag no. <%=@tag.id%></h1>
<div>
  <h2><%=@tag.name%></h2>
  <a href="/tags/<%=@tag.id%>/edit">Edit Tag</a>
  <form action="/tags/<%=@tag.id%>/delete" method="post">
    <input type="submit" value="Delete Tag">
  </form>
</div>
