body{
  height: 100vh;
  background: url("../images/bckgrd.png") no-repeat center fixed;
  background-size: cover;
  font-family: Tahoma, Geneva, sans-serif;
}

h1{
  text-align: center;
  font-size: 2.4em;
}

h2{
  font-size: 1.6em;
}

h3{
  font-size: 1.4em;
}

.acc-display{
  display: inline-block;
  margin: 2vh 3vw;
  border-width: thin;
  border-color: black;
  border-style: solid;
}

.acc-display a{
  text-decoration: none;
}

ul{
  padding: 0;
}

li{
  list-style: none;
  font-size: 1.2em;
}

nav li{
  padding: 2vh 0;
}

main{
  padding: 2vh 2vw;
}

.obj-list{
  text-align: center;
  padding: 2vh 2vw;
  border-width: thin;
  border-color: black;
  border-style: solid;
}

li.obj-list{
  margin: 2vh 0;
}

.acc-display div{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
}

.obj-list:hover{
  background-color: #DEB887;
}

a{
  color: black;
}

a:hover{
  color: DarkBlue;
}

.form-bttn{
  border: none;
  background-color: inherit;
  font-size: 1em;
  text-decoration: underline;
  padding: 0 1vw;
}

.form-bttn-special{
  border: none;
  background-color: inherit;
  font-size: 1em;
  text-decoration: underline;
  padding: 2vh 1vw;
}

.form-bttn:hover{
  color: DarkBlue;
  cursor: pointer;
}

.form-bttn-special:hover{
  color: DarkBlue;
  cursor: pointer;
}

.acc-trans{
  padding: 1vh 0;
  text-align: center;
  border-bottom: none;
}
